

REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_GOOGLE_CLIENT_ID=your-react-app-google-client-id

FRONTEND_URL=http://localhost:3000

REACT_APP_SUPABASE_URL=your-react-app-supabase-url
REACT_APP_SUPABASE_ANON_KEY=your-react-app-supabase-anon-key


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=your-smtp-from



TELEGRAM_BOT_TOKEN=your-telegram-bot-token